<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="X.App.Properties.Settings.x_linkConnectionString"
            connectionString="Data Source=192.168.0.119;Initial Catalog=x.link;Persist Security Info=True;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
        <add name="X.App.Properties.Settings.yt_cityConnectionString"
            connectionString="Data Source=X-PC\X;Initial Catalog=yt.city;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="X.App.Properties.Settings.x_linkConnectionString1"
            connectionString="Data Source=JOIN-PC;Initial Catalog=x.link;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>